@import url("//fonts.googleapis.com/css?family=Noto+Sans");

body {
  background-color: #242729;
  color: #f0ebd8;
  font-family:'Noto Sans';
}

.header-navbar{
  color:#f0ebd8;
  font-size:20px;
}

#page-title{
  text-align:center;
}

#user-profile-header{
  text-align:right;
}

.datepicker{
  color:#424242;
}

.datepicker table tbody tr td.disabled,
.datepicker table tbody tr td.disabled:hover,
.datepicker table tbody tr td span.disabled,
.datepicker table tbody tr td span.disabled:hover {
  color: #eee;
  cursor: not-allowed;
}

.track-map{
  color:#f0ebd8;
}

hr {
  border: 1px solid #2d2f30;
}

.track-stats div{
  padding-bottom: 60px;
}

.summary-stats{
  text-align:left;
}

.stats{
  color:white;
  font-size:30px;
  margin:0;
}

.stats-descriptor{
  color:gray;
  font-size:20px;
}

.lifetime-stats{
  background-color:white;
  color:#242729;
}

.lifetime-stats-filters{
  background-color:white;
  color:#242729;
  padding:10px;
}

.lifetime-stats-container{
  background-color:white;
  color:#242729;
  margin-top:-40px;
  padding:10px;
}