body {
  background-color: #242729;
}

.header-navbar{
  color:#f0ebd8;
  font-size:20px;
}

#page-title{
  text-align:center;
}

#user-profile-header{
  text-align:right;
}

.track-map{
  color:#f0ebd8;
}

hr {
  border: 1px solid #2d2f30;
}